# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
*.sqlite3

# VSCode/PyCharm
.vscode/
.idea/

# Django
/media/
*.log
db.sqlite3

# Others
.env
.vscode
user_messages_backend/media/